*{
    padding: 0;
    margin: 0;
}

/* shared styles */

.Inter{
    font-family: "Inter", sans-serif;
}

.Raleway{
    font-family: "Raleway", sans-serif;
}

.btn-primary{
    background-color: rgba(78, 71, 255, 1);
    border: none;
    border-radius: 10px;
    padding: 12px 36px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
}

button a{
    text-decoration: none;
    color: #ffffff;
}

/* individual styles */

header{
    background-image: url(../Assets/Hero-bg.png);
    background-repeat: repeat-x;
    margin-bottom: 116px;
}

/* NAV SECTION STYLES */
nav{
    max-width: 1200px;
    margin: 0px auto 148px;
}
.nav-content{
    display: flex;
    justify-content: space-between;
    padding: 50px 0px;
}

.nav-content h1{
    color: rgba(78, 71, 255, 1);
    font-size: 34px;
    font-weight: 900;
}

/* BANNER SECTION STYLES */
.banner{
    max-width: 1005px;
    margin: 0px auto;
    text-align: center;

}

.banner-container{
    padding-bottom: 135px;
}

.banner-content h1{
    color: rgba(37, 36, 50, 1);
    font-size: 65px;
    font-weight: 700;
    margin-bottom: 37px;
}

/* ACTION SECTION STYLES */

.action{
    max-width: 1200px;
    margin: 0px auto 148px;
}
.action-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.action-content{
    max-width: 510px;
}

.action-content h1{
    color: rgba(37, 36, 50, 1);
    font-size: 42px;
    font-weight: 700;
}

.action-content p{
    color: rgba(37, 36, 50, 0.5);
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    margin: 23px 0;
}
